img {
    width: 100px;
    height: auto;
}

.clearance {
    background: rgb(167, 205, 255);
    border: 2px dashed rgb(18, 15, 180);    
}

.table td {
    background: transparent;
}

td {
    vertical-align: middle;
}

.contenedor-desc {
    text-align: center;
    border: 2px dashed blue;
    border-radius: 10%;
    background-color: rgb(78, 173, 236);
    margin: 0.5rem;
    padding: 0.7rem;
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}


