<!-- Barra de navegación -->

<header class="header">

  <div class="contenedor">
      <div class="barra">
          <a [routerLink]="['/']" class="logo">
              <h1 class="logo__nombre no-margin centrar-texto">Biblio<span class="logo__bold">Mania</span></h1>
          </a>
          <nav class="navegacion">
              <a href="#" class="navegacion__enlace">Categorias</a>
              <a [routerLink]="['about']" class="navegacion__enlace">Acerca de...</a>
          </nav>
      </div>
  </div>
  <div class="header__texto">
      <h2 class="no-margin">Encontrá tus libros en el mejor lugar</h2>
  </div>
</header>

<!-- Contenido -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Pie de página -->
<footer class="footer">{{title}} 2024</footer>